[submodule "src/pointnext"]
	path = src/pointnext
	url = git@github.com:rinisme00/pointnext.git
	branch = main

[submodule "breaking-bad-dataset"]
	path = breaking-bad-dataset
	url = git@github.com:rinisme00/breaking-bad-dataset.git